In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("../data/ressources/Ragni2016.csv")
df2 = pd.read_csv("../data/ressources/Veser2018.csv")

## Analyse de la base Ragni 2016

In [2]:
df1.head()

,id,sequence,task,choices,response,response_type,domain,gender,age
0,1,0,Some;models;managers/All;models;clerks,All;managers;clerks|All;clerks;managers|Some;m...,Some;managers;clerks,single-choice,syllogistic,female,56
1,1,1,No;divers;carpenters/All;linguists;carpenters,All;divers;linguists|All;linguists;divers|Some...,No;divers;linguists,single-choice,syllogistic,female,56
2,1,2,All;therapists;climbers/Some;skaters;therapists,All;climbers;skaters|All;skaters;climbers|Some...,Some;skaters;climbers,single-choice,syllogistic,female,56
3,1,3,All;bankers;golfers/All;golfers;teachers,All;bankers;teachers|All;teachers;bankers|Some...,All;bankers;teachers,single-choice,syllogistic,female,56
4,1,4,Some not;boxers;opticians/All;boxers;actuaries,All;opticians;actuaries|All;actuaries;optician...,Some not;actuaries;opticians,single-choice,syllogistic,female,56

La base de données comporte les données suivantes:
- id: l'id du participant
- sequence: un id pour chaque type de syllogisme donnée à chaque participant
- task: les deux premisses du syllogisme proposé
- choices: les 8 réponses proposées (dont NVC : no valid conclusion)
- response: la réponse du participant
- gender, age : informations sur le participant
- response_type, domain: varibles contantes

In [26]:
df1.shape
# Le jeu contient 8896 lignes, c-a-d 8896 syllogismes ont été soumis

(8896, 16)

In [28]:
len(pd.unique(df1["id"]))
# Il y a 139 participants différents, chacun on été soumis à 64 syllogism, 1 par forme.

139

In [30]:
len(pd.unique(df1["task"]))
# Certains syllogismes ont été proposés plusieurs fois, en tout 6327 syllogisms différents ont été soumis.

6327

In [32]:
print(df1["task"].value_counts().max())
# Au maximum, un même syllogisme a été proposé 6 fois

6

## Analyse de la base Veser 2018

In [33]:
df2.head()

,id,sequence,task,choices,response,response_type,domain,gender,age
0,0,0,Some;gamblers;bakers/Some not;sculptors;bakers,All;gamblers;sculptors|All;sculptors;gamblers|...,NVC,single-choice,syllogistic,female,24
1,0,1,Some not;surfers;artists/All;planners;artists,All;surfers;planners|All;planners;surfers|Some...,Some not;planners;surfers,single-choice,syllogistic,female,24
2,0,2,All;carpenters;divers/All;linguists;divers,All;carpenters;linguists|All;linguists;carpent...,Some not;carpenters;linguists,single-choice,syllogistic,female,24
3,0,3,All;painters;cleaners/Some not;auditors;painters,All;cleaners;auditors|All;auditors;cleaners|So...,Some;auditors;cleaners,single-choice,syllogistic,female,24
4,0,4,No;engineers;fencers/All;campers;fencers,All;engineers;campers|All;campers;engineers|So...,No;engineers;campers,single-choice,syllogistic,female,24

Le jeu comporte les mêmes colonnes

In [34]:
df2.shape
# Le jeu contient 2058 ligne, c-a-d 2058 syllogismes ont été soumis

(2058, 9)

In [35]:
len(pd.unique(df2["id"]))
# Il y a 34 participants, chacun on été soumis à 64 syllogism, 1 par forme.

34

In [36]:
len(pd.unique(df2["task"]))
# Certains syllogismes ont été proposés plusieurs fois, en tout 383 syllogisms différents ont été soumis.

383

In [37]:
print(df2["task"].value_counts().max())
# Au maximum, un même syllogisme a été proposé 12 fois

12