In [80]:
import pandas as pd
import numpy as np

In [81]:
df_valid = pd.read_csv("../data/results/result_valid_30_01_22.csv").drop(['Unnamed: 0'], axis=1)
df_unvalid = pd.read_csv("../data/results/result_unvalid_30_01_22.csv").drop(['Unnamed: 0'], axis=1)

In [82]:
df_valid.columns

Index(['task_form', 'succes_human', 'succes_mnli_00', 'succes_mnli_03',
       'succes_mnli_05', 'succes_mnli_10', 'succes_mnli_20', 'succes_mnli_30',
       'succes_mnli_40', 'succes_mnli_50', 'succes_mnli_60', 'succes_mnli_70',
       'succes_mnli_80', 'succes_mnli_90', 'succes_mnli_max',
       'succes_simple_0.9999965', 'succes_simple_0.9999968',
       'succes_simple_0.9999972', 'succes_simple_0.9999974',
       'succes_simple_0.999996', 'succes_simple_0.999997'],
      dtype='object')

In [86]:
df_cor_valid = pd.DataFrame({'succes_mnli_max': [df_valid['succes_human'].corr(df_valid['succes_mnli_max'])]})
for col in df_valid.columns.drop(["succes_human","succes_mnli_max","task_form"]):
    df_cor_valid[col]= df_valid['succes_human'].corr(df_valid[col])
df_cor_valid.to_csv("../data/results/valid_cor_04_03_22.csv")
df_cor_valid

,succes_mnli_max,succes_mnli_00,succes_mnli_03,succes_mnli_05,succes_mnli_10,succes_mnli_20,succes_mnli_30,succes_mnli_40,succes_mnli_50,succes_mnli_60,succes_mnli_70,succes_mnli_80,succes_mnli_90,succes_simple_0.9999965,succes_simple_0.9999968,succes_simple_0.9999972,succes_simple_0.9999974,succes_simple_0.999996,succes_simple_0.999997
0,0.430543,0.771004,0.758736,0.751691,0.707686,0.603504,0.503817,0.452357,0.419123,0.40417,0.443739,0.47572,0.502661,0.494819,0.485631,0.464181,0.361567,0.497556,0.470565

In [87]:
df_cor_unvalid = pd.DataFrame({'succes_mnli_max': [df_unvalid['succes_human'].corr(df_unvalid['succes_mnli_max'])]})
for col in df_unvalid.columns.drop(["succes_human","succes_mnli_max","task_form"]):
    df_cor_unvalid[col]= df_unvalid['succes_human'].corr(df_unvalid[col])
df_cor_unvalid.to_csv("../data/results/unvalid_cor_04_03_22.csv")
df_cor_unvalid

,succes_mnli_max,succes_mnli_00,succes_mnli_03,succes_mnli_05,succes_mnli_10,succes_mnli_20,succes_mnli_30,succes_mnli_40,succes_mnli_50,succes_mnli_60,succes_mnli_70,succes_mnli_80,succes_mnli_90,succes_simple_0.9999965,succes_simple_0.9999968,succes_simple_0.9999972,succes_simple_0.9999974,succes_simple_0.999996,succes_simple_0.999997
0,-0.097655,NaN,0.116227,0.184921,0.149792,0.001573,-0.058241,-0.09394,-0.10515,-0.097153,-0.116723,-0.121848,-0.115968,0.24661,0.306398,0.253398,0.207343,NaN,0.149472

In [54]:
def type_syl(task_form):
    if task_form[0] in ["A", "E"] and task_form[1] in ["A", "E"]:
        return "universal"
    elif task_form[0] in ["O", "I"] and task_form[1] in ["O", "I"]:
        return "relative"
    else:
        return "mixe"

df_valid['type'] = df_valid.task_form.apply(lambda x: type_syl(x))
df_unvalid['type'] = df_unvalid.task_form.apply(lambda x: type_syl(x))

df_valid = df_valid.drop(['task_form'], axis=1)
df_unvalid = df_unvalid.drop(['task_form'], axis=1)

In [45]:
df_valid.groupby('type').mean().to_csv("../data/results/valid_mean_04_03_22.csv")
df_valid.groupby('type').mean()

,succes_human,succes_mnli_00,succes_mnli_03,succes_mnli_05,succes_mnli_10,succes_mnli_20,succes_mnli_30,succes_mnli_40,succes_mnli_50,succes_mnli_60,succes_mnli_70,succes_mnli_80,succes_mnli_90,succes_mnli_max,succes_simple_0.9999965,succes_simple_0.9999968,succes_simple_0.9999972,succes_simple_0.9999974,succes_simple_0.999996,succes_simple_0.999997
type,,,,,,,,,,,,,,,,,,,,
mixe,0.413995,0.461635,0.461635,0.458648,0.445657,0.419390,0.389131,0.360318,0.324913,0.285287,0.227125,0.162495,0.090434,0.348896,0.243035,0.234429,0.133631,0.016768,0.243035,0.212165
universal,0.518555,0.482728,0.466553,0.456761,0.415188,0.348082,0.299845,0.276953,0.257400,0.237166,0.220331,0.199765,0.169092,0.267062,0.144519,0.125897,0.069642,0.006251,0.147185,0.105317

In [46]:
df_unvalid.groupby('type').mean().to_csv("../data/results/unvalid_mean_04_03_22.csv")
df_unvalid.groupby('type').mean()

,succes_human,succes_mnli_00,succes_mnli_03,succes_mnli_05,succes_mnli_10,succes_mnli_20,succes_mnli_30,succes_mnli_40,succes_mnli_50,succes_mnli_60,succes_mnli_70,succes_mnli_80,succes_mnli_90,succes_mnli_max,succes_simple_0.9999965,succes_simple_0.9999968,succes_simple_0.9999972,succes_simple_0.9999974,succes_simple_0.999996,succes_simple_0.999997
type,,,,,,,,,,,,,,,,,,,,
mixe,0.253798,0.0,0.001089,0.002179,0.018819,0.081039,0.139330,0.187063,0.255556,0.323272,0.410761,0.513639,0.665701,0.203173,0.000519,0.030067,0.367263,0.889245,0.0,0.092182
relative,0.317361,0.0,0.001211,0.011253,0.050890,0.153157,0.256701,0.366325,0.475126,0.581914,0.676193,0.781639,0.877962,0.421096,0.000000,0.015228,0.328824,0.848901,0.0,0.050246
universal,0.502626,0.0,0.022222,0.038384,0.062626,0.111111,0.141032,0.184472,0.241906,0.330681,0.403294,0.504894,0.653052,0.206506,0.015911,0.102467,0.445500,0.931994,0.0,0.192982