In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df1 = pd.read_csv("../Data/Ragni2016.csv")
df2 = pd.read_csv("../Data/Veser2018.csv")

## Analyse de la base Ragni2016

In [8]:
# données présentes
df1.columns

Index(['id', 'sequence', 'task', 'choices', 'response', 'response_type',
       'domain', 'gender', 'age'],
      dtype='object')

In [43]:
# Visualisation des données
#8896 lignes et 9 colonnes
df1.head

<bound method NDFrame.head of        id  sequence                                             task  \
0       1         0           Some;models;managers/All;models;clerks
1       1         1    No;divers;carpenters/All;linguists;carpenters
2       1         2  All;therapists;climbers/Some;skaters;therapists
3       1         3         All;bankers;golfers/All;golfers;teachers
4       1         4   Some not;boxers;opticians/All;boxers;actuaries
...   ...       ...                                              ...
8891  139        59    Some not;potters;sailors/All;potters;chemists
8892  139        60     Some;brewers;porters/Some not;judges;porters
8893  139        61     No;sculptors;bakers/Some not;bakers;gamblers
8894  139        62  Some;climbers;therapists/All;skaters;therapists
8895  139        63       Some not;managers;models/All;models;clerks

                                                choices  \
0     All;managers;clerks|All;clerks;managers|Some;m...
1     All;divers;linguists|All;linguists;divers|Some...
2     All;climbers;skaters|All;skaters;climbers|Some...
3     All;bankers;teachers|All;teachers;bankers|Some...
4     All;opticians;actuaries|All;actuaries;optician...
...                                                 ...
8891  All;sailors;chemists|All;chemists;sailors|Some...
8892  All;brewers;judges|All;judges;brewers|Some;bre...
8893  All;sculptors;gamblers|All;gamblers;sculptors|...
8894  All;climbers;skaters|All;skaters;climbers|Some...
8895  All;managers;clerks|All;clerks;managers|Some;m...

                          response  response_type       domain  gender  age
0             Some;managers;clerks  single-choice  syllogistic  female   56
1              No;divers;linguists  single-choice  syllogistic  female   56
2            Some;skaters;climbers  single-choice  syllogistic  female   56
3             All;bankers;teachers  single-choice  syllogistic  female   56
4     Some not;actuaries;opticians  single-choice  syllogistic  female   56
...                            ...            ...          ...     ...  ...
8891     Some not;sailors;chemists  single-choice  syllogistic  female   23
8892             No;judges;brewers  single-choice  syllogistic  female   23
8893   Some not;gamblers;sculptors  single-choice  syllogistic  female   23
8894                           NVC  single-choice  syllogistic  female   23
8895           All;managers;clerks  single-choice  syllogistic  female   23

[8896 rows x 9 columns]>

In [52]:
print(df1.iloc[0]['choices'])

All;managers;clerks|All;clerks;managers|Some;managers;clerks|Some;clerks;managers|Some not;managers;clerks|Some not;clerks;managers|No;managers;clerks|No;clerks;managers|NVC

In [19]:
# analyse des taches pour un meme n° de séquence: pas la même forme du syllogi
df1[df1["sequence"] == 0]["task"].head(20)

0                Some;models;managers/All;models;clerks
64                 Some;cooks;mayors/All;cooks;swimmers
128             Some;tutors;packers/All;tutors;butchers
192          All;chemists;sailors/Some;potters;chemists
256               All;drivers;hikers/All;hikers;writers
320             Some;writers;drivers/All;writers;hikers
384             Some;chefs;runners/All;chefs;scientists
448               All;managers;clerks/All;clerks;models
512     Some;travelers;analysts/All;travelers;novelists
576      Some;linguists;divers/All;linguists;carpenters
640          Some;students;buyers/All;students;cyclists
704              Some;pilots;tailors/All;pilots;singers
768            All;cashiers;poets/Some;waiters;cashiers
832             Some;swimmers;cooks/All;swimmers;mayors
896               No;typists;dancers/All;boxers;dancers
960              Some;boxers;dancers/All;boxers;typists
1024         No;auditors;cleaners/All;painters;cleaners
1088       No;divers;linguists/All;carpenters;linguists
1152           All;tutors;butchers/All;butchers;packers
1216            All;actors;drillers/All;drillers;nurses
Name: task, dtype: object

In [17]:
# 6327 syllogismes différents
len(pd.unique(df1["task"]))

6327

## Analyse de la base Veser2018

In [27]:
# données présentes
df2.columns

Index(['id', 'sequence', 'task', 'choices', 'response', 'response_type',
       'domain', 'gender', 'age'],
      dtype='object')

In [28]:
# Visualisation des données
#2058 lignes et 9 colonnes
df2.shape

(2058, 9)

In [29]:
# 383 syllogismes différents
len(pd.unique(df2["task"]))

383

In [35]:
# 34 participants
len(pd.unique(df2["id"]))

34

In [33]:
df2.head(70)

,id,sequence,task,choices,response,response_type,domain,gender,age
0,0,0,Some;gamblers;bakers/Some not;sculptors;bakers,All;gamblers;sculptors|All;sculptors;gamblers|...,NVC,single-choice,syllogistic,female,24
1,0,1,Some not;surfers;artists/All;planners;artists,All;surfers;planners|All;planners;surfers|Some...,Some not;planners;surfers,single-choice,syllogistic,female,24
2,0,2,All;carpenters;divers/All;linguists;divers,All;carpenters;linguists|All;linguists;carpent...,Some not;carpenters;linguists,single-choice,syllogistic,female,24
3,0,3,All;painters;cleaners/Some not;auditors;painters,All;cleaners;auditors|All;auditors;cleaners|So...,Some;auditors;cleaners,single-choice,syllogistic,female,24
4,0,4,No;engineers;fencers/All;campers;fencers,All;engineers;campers|All;campers;engineers|So...,No;engineers;campers,single-choice,syllogistic,female,24
...,...,...,...,...,...,...,...,...,...
65,1,1,Some;cleaners;painters/Some;auditors;painters,All;cleaners;auditors|All;auditors;cleaners|So...,Some;cleaners;auditors,single-choice,syllogistic,female,19
66,1,2,All;tailors;pilots/Some;pilots;singers,All;tailors;singers|All;singers;tailors|Some;t...,Some;tailors;singers,single-choice,syllogistic,female,19
67,1,3,All;carpenters;linguists/All;divers;linguists,All;carpenters;divers|All;divers;carpenters|So...,NVC,single-choice,syllogistic,female,19
68,1,4,Some;scholars;farmers/Some;farmers;assistants,All;scholars;assistants|All;assistants;scholar...,Some;scholars;assistants,single-choice,syllogistic,female,19
69,1,5,Some not;runners;chefs/Some not;scientists;run...,All;chefs;scientists|All;scientists;chefs|Some...,Some not;scientists;chefs,single-choice,syllogistic,female,19

In [38]:
df2["id"].value_counts()

33    64
1     64
2     64
4     64
6     64
8     64
10    64
12    64
14    64
20    64
22    64
24    64
26    64
28    64
30    64
31    64
32    64
3     64
17    64
29    64
27    64
25    64
23    64
21    64
19    64
0     64
5     64
15    64
13    64
11    64
9     64
7     64
18     8
16     2
Name: id, dtype: int64