In [29]:
import pandas as pd
import syllogism as sy 

from utils import table_de_verite, choice_form, implicatur

# Form_data et nlp_result

In [2]:
df_final = pd.read_csv("../data/intermediate/df_global_id.csv")

In [4]:
df_final.columns

Index(['id_seq', 'choice_bert_pred', 'choice_mnli_pred', 'few_shot_pred',
       'task_form', 'human_response', 'has_conclusion', 'index_conclusion',
       'choice_str', 'human_response_index', 'implicatur',
       'best_bert_00_index', 'bert_00success', 'similarity_bert_00',
       'best_bert_0999996_index', 'bert_0999996success',
       'similarity_bert_0999996', 'best_bert_0999997_index',
       'bert_0999997success', 'similarity_bert_0999997',
       'best_bert_09999965_index', 'bert_09999965success',
       'similarity_bert_09999965', 'best_bert_09999968_index',
       'bert_09999968success', 'similarity_bert_09999968',
       'best_bert_09999972_index', 'bert_09999972success',
       'similarity_bert_09999972', 'best_bert_09999974_index',
       'bert_09999974success', 'similarity_bert_09999974',
       'best_mnli_00_index', 'mnli_00success', 'similarity_mnli_00',
       'best_mnli_03_index', 'mnli_03success', 'similarity_mnli_03',
       'best_mnli_05_index', 'mnli_05success', 'similarity_mnli_05',
       'best_mnli_10_index', 'mnli_10success', 'similarity_mnli_10',
       'best_mnli_20_index', 'mnli_20success', 'similarity_mnli_20',
       'best_mnli_30_index', 'mnli_30success', 'similarity_mnli_30',
       'best_mnli_40_index', 'mnli_40success', 'similarity_mnli_40',
       'best_mnli_50_index', 'mnli_50success', 'similarity_mnli_50',
       'best_mnli_60_index', 'mnli_60success', 'similarity_mnli_60',
       'best_mnli_70_index', 'mnli_70success', 'similarity_mnli_70',
       'best_mnli_80_index', 'mnli_80success', 'similarity_mnli_80',
       'best_mnli_90_index', 'mnli_90success', 'similarity_mnli_90',
       'best_mnli_3_options_index', 'mnli_3_optionssuccess',
       'similarity_mnli_3_options', 'best_fewshot_index', 'fewshotsuccess',
       'similarity_fewshot', 'succes_human'],
      dtype='object')

In [9]:
column_to_keep = ['id_seq','task_form','has_conclusion', 'index_conclusion','implicatur','best_bert_00_index', 'bert_00success','best_mnli_00_index', 'mnli_00success']

In [10]:
df_reduct = df_final[column_to_keep]

In [11]:
df_reduct.columns

Index(['id_seq', 'task_form', 'has_conclusion', 'index_conclusion',
       'implicatur', 'best_bert_00_index', 'bert_00success',
       'best_mnli_00_index', 'mnli_00success'],
      dtype='object')

## nlp_result

In [20]:
nlp_result_columns = ['id_seq', 'task_form', 'best_bert_00_index', 'bert_00success',
       'best_mnli_00_index', 'mnli_00success']

In [21]:
df_nlp_result = df_reduct[nlp_result_columns]
df_nlp_result.shape

(6506, 6)

In [22]:
df_nlp_result.to_csv("./article/data/nlp_result.csv")

## form data

In [15]:
form_column = ['task_form','has_conclusion','index_conclusion','implicatur']
df_form= df_reduct.drop_duplicates(subset=form_column)

In [16]:
df_form = df_form[form_column]

In [18]:
df_form.to_csv("./article/data/form_data.csv")

# Human response

In [23]:
df_concat= pd.read_csv("../data/intermediate/df_concat.csv")

In [25]:
df_concat.head()

,task,choices,response,response_type,domain,gender,age,id_seq
0,Some;models;managers/All;models;clerks,All;managers;clerks|All;clerks;managers|Some;m...,Some;managers;clerks,single-choice,syllogistic,female,56,1_0_R
1,No;divers;carpenters/All;linguists;carpenters,All;divers;linguists|All;linguists;divers|Some...,No;divers;linguists,single-choice,syllogistic,female,56,1_1_R
2,All;therapists;climbers/Some;skaters;therapists,All;climbers;skaters|All;skaters;climbers|Some...,Some;skaters;climbers,single-choice,syllogistic,female,56,1_2_R
3,All;bankers;golfers/All;golfers;teachers,All;bankers;teachers|All;teachers;bankers|Some...,All;bankers;teachers,single-choice,syllogistic,female,56,1_3_R
4,Some not;boxers;opticians/All;boxers;actuaries,All;opticians;actuaries|All;actuaries;optician...,Some not;actuaries;opticians,single-choice,syllogistic,female,56,1_4_R

In [27]:
df_human = df_concat[['task', 'choices', 'response', 'id_seq']]

In [30]:
df_human['sentenced'] = df_human.task.apply(lambda x : sy.Syllogism(x).sentenced)
df_human['choice_str'] = df_human[["task","choices"]].apply(lambda x: sy.Syllogism(x[0]).choice_to_str(x[1]), axis=1)

In [31]:
df_human['task_form'] = df_human.task.apply(lambda x : sy.Syllogism(x).full_form)
df_human['human_response'] = df_human[["task","response"]].apply(lambda x: sy.Syllogism(x[0]).evaluate_conclusion(x[1]), axis=1)
df_human['human_response_index'] = df_human.human_response.apply(lambda x : choice_form.index(x[0]))

In [33]:
human_columns = ["id_seq",	"sentenced",	"task_form", "human_response_index"]
df_human_final = df_human[human_columns]

In [34]:
df_human_final.head()

,id_seq,sentenced,task_form,human_response_index
0,1_0_R,Some models are managers and All models are cl...,IA4,2
1,1_1_R,No divers are carpenters and All linguists are...,EA3,6
2,1_2_R,All therapists are climbers and Some skaters a...,AI2,3
3,1_3_R,All bankers are golfers and All golfers are te...,AA1,0
4,1_4_R,Some boxers are not opticians and All boxers a...,OA4,5

In [35]:
df_human_final.shape

(10954, 4)

In [ ]:
df_human_final.to_csv("./article/data/human_data.csv", index=False)